#az-fixed{
	position:fixed;	
	z-index:1000000;	
}

#az-flex{
	display:flex;
}

#az-flex > aside{
	padding:1em;
	overflow:hidden;
}

/* Верх-низ */
.az-flex-top, .az-flex-bottom{	
	flex-direction:row;
	justify-content:space-between;	
}

/* Лево-право */
.az-flex-left, .az-flex-right{	
	flex-direction:column;
	justify-content:flex-start;	
}

.az-position-left{
	left:0;
	top:0;	
	height:100%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
}

.az-position-right{
	top:0;
	right:0;	
	height:100%;
	box-shadow: -1px 0 2px rgba(0, 0, 0, 0.9);
}

.az-position-top{
	top:0;
	width:100%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
}

.az-position-bottom{
	bottom:0;
	width:100%;	
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.9);
}